<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>
<div th:replace="fragments :: menu(${usuario})"></div>
<div class="container-fluid">
    <div class="container-fluid">
        <h1>ToDoList</h1>
        <ul>
            <li>Desarrollada por TU NOMBRE </li>
            <li>Versión 1.0.1 </li>
-            <li>Fecha de release: 09/06/2025</li>
+            <li>Desarrollada por Marcelo Torres L</li>
+            <li>Versión 1.0.1</li>
        </ul>
    </div>
</div>
<div th:replace="fragments::javascript"/>
</body>
</html>